* {
  margin: 0;
  padding: 0;
}
#container{
  height: 70vw;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
}
p {
  margin: auto;
}
.center_column{
  margin: auto;
  height: 160px;
  width: 160px;
}
